.CartWidget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: blue ;
    font-size: 25px;
    margin: 0 10px;
    justify-items: center;
}

FiShoppingCart{
    color: blue;
    font-size: 25px;
    margin: 0 10px;
    justify-items: center;
    align-items: center;
}