button{
    background-color: var(--clr-primario);
    color: var(--clr-secundario);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;

}

.tilulo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-secundario);
    margin: 0 20px;
}

.Caategories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primario);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}




