button{
    background-color: var(--clr-primario);
    color: var(--clr-secundario);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;

}

.titulo{
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-primario-dark);
    margin: 0 20px;
}

.subtitulo{
    font-size: 1rem;
    font-weight: 100;
    color: var(--clr-terciario);
    margin: 0 20px;
}
.Categories{
    display: flex;
 
}

#Category :hover{
    scale: 1.2;
}

.isActive{
    background-color: var(--clr-primario);
    color: var(--clr-secundario);
    border-radius: 5px;
    padding: 5px 10px;
}




